<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitMexSampleBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BitMexSampleBot.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>X6_egTD7fQFUZcmT4Dk3H9Gl</value>
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value>v7xCkLn6Ee9noeY7oVhAsa5Jz-DVFFLAAVezI4AKl5AdOW00</value>
            </setting>
            <setting name="TestAPIKey" serializeAs="String">
                <value>3kJ2pCI1VSe3rpJkU0yjiZbz</value>
            </setting>
            <setting name="TestAPISecret" serializeAs="String">
                <value>JmtnXTx04XR5g_HlTeDlnDYImLWsIqZzoShW2gxPhLbdElAJ</value>
            </setting>
        </BitMexSampleBot.Properties.Settings>
    </userSettings>
</configuration>